
.row{
    align-items: center;
    align-content: center;
}

.btn{
    margin: 5px 5px 5px 5px;
    align-self: center;
    align-items: center;
}


.small-xs-4{
    display: inline;
    margin: 0 auto;
}

